__pycache__/
*.py[cod]
*$py.class

venv/
.env/
.envrc

.ipynb_checkpoints/

.streamlit/

*.pt
*.pth
*.ckpt
*.safetensors

cache/
hf_cache/
huggingface/
transformers_cache/

dataset/
noaa_coral_dataset/

best_vit_model/

*.png
*.jpg
*.jpeg
*.webp

*.log

.vscode/

.DS_Store
Thumbs.db

tmp/
temp/